
:root {
    --backgroundColor: white;
    --darkOrange: #b23301;
    --darkRed: white;
  }
header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
} 
#logo{    
    animation: spin 8s linear infinite;
    max-width: 120%;
    margin-left: 20px;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px ridge orange;
}
body{
    width: 90%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vmin;
}
a{
    text-decoration: none;
}
a:visited{
    color: blue;
}
a:hover{
    background-color: rgba(255, 102, 0, 0.948);
    color: white;
    padding: 5px;
    border-radius: 15px;
}
select{
    padding: 5px;
}
#paymentTable{
    text-align: center;
}
#customerTable{
    justify-content: center;
}
#customerNew{
    display: grid;
    grid-template-columns: auto auto;
}
#customerExists{
    display: grid;
    grid-template-columns: auto auto;
    justify-content:space-around;
}
#customerNew div{
    padding-left: 10px;
}
#customerExists div{
    padding-left: 10px;
}
input[type=button], input[type=submit], button{
    padding: 10px;
    background-color: orange;
    color: white;
    font-weight: bold;
}
.imgProducts{
    border-radius: 45px;
}
#tableReport{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-left: 10px;
    margin-right: 10px;
}
#tableReport div{
    border: 1px ridge grey;
}
.columnTitle{
    background-color: orange;
    color: white;
    text-align: center;
}
.rowOrder{
    text-align: center;
}
#title{
    text-align: center;
    text-transform: uppercase; 
    font-size: 7vw;  
    text-shadow: orange 3px 5px 5px; 
}
#menu{
    display: none;
    font-size: 45px;
}
nav{
    display: block;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;        
    margin: 0px;
}
nav a{
    padding: 10px 15px;
}
nav a:hover{
    background-color: orange;
    border-radius: 10px;
    color: white;
}
footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
  }
/* Define button style */
.btn{

}

#table{
    display: grid;
    grid-template-columns: auto auto auto;
}
.product{
    padding-bottom: 20px;
    width: fit-content;
    text-align: center;
    align-content: space-between;
}
#cart{
    display: block;
    align-content: center;
    text-align: center;
}
#orderSummary{
    display: block;
    text-align: center;
}
#customerTable{
    display: grid;
    grid-template-columns: auto auto;
}

/* Break point 1: */
/* @media all and (max-width: 1024px){

}  */

/* Break point 2: */
@media all and (max-width: 670px){    
    body{
        width: 100%;
    }
    #menu{
        display: block;
    }
    #linkMenu{
        display: none;
    }   
    nav ul li{
        display: block;
        font-size: small;
        text-align: left;
        margin-top: 8px;
    } 
}